Source: llx-qjack-pulse-integrator
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders:Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.5

Package: llx-qjack-pulse-integrator
Architecture: all
Depends: ${misc:Depends}, pulseaudio-module-jack 
Description: Lliurex Qjack & PulseAudio integrator
 - Config files to use it
 For LliureX Music

