Source: llx-qjack-pulse-integrator
Section: sound
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10.0)
Standards-Version: 4.1.2

Package: llx-qjack-pulse-integrator
Architecture: all
Depends: ${misc:Depends}, pulseaudio-module-jack 
Description: Lliurex Qjack & PulseAudio integrator
 - Config files to use it
 For LliureX Music

